<!doctype html>
<html lang="en">
  <head>
    <!-- bootstrap template from https://getbootstrap.com/docs/4.0/getting-started/introduction/-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="interface.css">

    <title>Add Users</title>
</head>
<body>
    <div class="container">
        <div class="card m-4">

            <fieldset>
                <div class="card-header">
                    <legend>Add User</legend>
                </div>
                <div class="card-body">

                    <form id="addFoodForm" >
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-3">First Name</label>

                            <div class="col-sm-7">
                                <input type="text" required="yes" class="form-control" id="firstName" name="firstName" maxlength="255" />
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lastName" class="col-sm-3">Last Name</label>
                            <div class="col-sm-7">
                                <input type="text" required="yes" class="form-control" id="lastName" name="lastName" maxlength="255"/>
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="birthDate" class="col-sm-3">Date of Birth</label>
                            <div class="col-sm-7">
                                <input type="date" required="yes" class="form-control" id="birthDate" name="birthDate" value="1990-01-01"/>
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="email" class="col-sm-3">Email</label>
                            <div class="col-sm-7">
                                <input type="email" required="yes" class="form-control" id="email" name="email"/>
                            </div>
                        </div>

                        <button type="submit" id="addUserBtn" name="addUser" class="btn btn-outline-primary">Submit</button>
                        <a href="/" class="btn btn-outline-danger" id="backBtn">Cancel</a>

                    </div>
                </div>
            </div>

        </form>
    </fieldset>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="userAddScripts.js"></script>
  </body>
</html>
